@import 'sass/variables';

.Body {
  background-color: #E7E0F2;
  color: #380E84;
  border: 1px solid #CBBDDD;
  font-weight: bolder;
  width: 95%;
  height: 120px;
  margin: auto;
  padding: 10px 0px 0px 30px;

  .user-banner {
    width: 50%;
    margin: 20px 0px 0px 20px;
  }
}
  